<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <!-- Logo icon-->
  <link rel="icon" href="/stylesheets/profile/favicon.ico">
  <title>OKR</title>
  <!-- Bootstrap core CSS -->
  <link href="/stylesheets/profile/bootstrap.min.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="/stylesheets/profile/main.min.css" rel="stylesheet">
  <!-- Responsive Web Design -->
  <link href="/stylesheets/profile/rwd.css" rel="stylesheet">
  <!-- Icon resource -->
  <link href="/stylesheets/profile/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!--  -->
  <script src="/javascripts/profile/handlebars-v4.0.11.js"></script>
</head>

<body>
  <header>
    <div class="searchBar">
      <input id="searchInput" type="text" placeholder=" Search...">
      <button id="seatchButton" class="fa fa-search" type="button" onclick="postData()"></button>
    </div>
    <div class="brand">
      <a href="#" id="brand-name">WORKDONE</a>
    </div>
    <div class="options-cell options-more">
      <a href="#" class="fa fa-ellipsis-h" id="options-fa-more"></a>
      <a href="#" class="fa fa-sort-desc" id="options-fa-more-mobile"></a>
      <div id="drop-down-options-more">
        <div id="drop-down-more-triangle">
          <div id="inner-more-triangle"></div>
        </div>
        <ul id="more-menu">
          <li>
            <a href="#">
              <i class="fa fa-users" aria-hidden="true"></i>
              <span>查看OKR</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-cog" aria-hidden="true"></i>
              <span>個人設定</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-sign-out" aria-hidden="true"></i>
              <span>登出系統</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="options-cell options-home">
      <a class="fa fa-home" id="options-fa-home"></a>
    </div>
    <div class="options-cell options-noti">
      <a class="fa fa-bell" id="options-fa-bell">
        <span id="noti-circle"></span></a>
      <div id="drop-down-options-notification">
        <div id="drop-down-noti-triangle">
          <div id="inner-noti-triangle">
          </div>
        </div>
        <ul id="noti-menu">
          <li class="noti-title">通知</li>
        </ul>
      </div>
    </div>
  </header>

  <section>
    <div class="section-profile">
    </div>
    <div class="section-okr">
      <div id="addOkr" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            123
          </div>
        </div>
    </div>
  </section>

  <script id="profile-template" type="text/x-handlebars-template">
    <div id="user" data-user-id="{{profile.profile_user_id}}">
      <a id="profile-img" href="#aboutModal">
        <div class="img-circle">
          <img id="user-img" src="{{profile.profile_user_img}}" data-user-id="{{profile.profile_user_id}}">
        </div>
        <strong>更換大頭照</strong><span></span>
      </a>
      <h3 id="user-name">{{profile.profile_user_name}}</h3>
      <p id="user-position">{{profile.profile_user_position}}</p>
      <div class="season">
        <span id="selected-season" data-season="{{profile.seasons.[1]}}">{{formatSeason profile.seasons.[1]}}</span>
        <a href="#" id="fa-drop-down" class="fa fa-chevron-down"></a>
        <div id="drop-down-season">
          <div id="drop-down-triangle">
            <div id="drop-down-triangle-inner"></div>
          </div>
          <ul>
            {{#profile.seasons}}
            <li><a href="#" data-season="">{{formatSeason this}}</a></li>
            {{/profile.seasons}}
          </ul>
        </div>
      </div>
      <button id="add-okr" type="button"  data-toggle="modal" data-target=".bd-example-modal-lg">+新增您的OKR</button>
      <!-- <div id="add-okr">
        <a href="#">+新增你的OKR</a>
      </div> -->
    </div>
  </script>

  <script id="noti-template" type="text/x-handlebars-template">
    {{#each notifications}}
    <li data-o-id="{{noti_obj_id}}">
      <a href="{{noti_link}}">
        <div class="noti-user-img">
          <div class="noti-img">
            <img src="{{noti_user_img}}" class="user-img" alt="{{noti_user_name}}" data-user-id="{{noti_user_id}}">
          </div>
        </div>
        <div class="noti-content">
          <div class="noti-text">
            <p><span class="noti-name" data-user-id="{{noti_user_id}}">{{noti_user_name}}</span>{{noti_text}}</P>
          </div>
          <div class="noti-time">
            <p>{{noti_time}}</p>
          </div>
        </div>
        <div class="noti-check">
          <i class="fa fa-circle" aria-hidden="true"></i>
        </div>
      </a>
    </li>
    {{/each}}
  </script>

  <script id="okr-template" type="text/x-handlebars-template">
    {{#each okrs}}
    <div class="okr" data-obj-id="{{obj_id}}">
      <div class="card objective" data-obj-id="{{obj_id}}">
        <div class="obj-upper" data-obj-id="{{obj_id}}">
          <div class="okr-progress" data-obj-id="{{obj_id}}">
            <div class="chart">
              <div class="circle-mask-outer left">
                <div class="circle-mask-inner">
                  <div class="circle-body"></div>
                </div>
              </div>
              <div class="circle-mask-outer right">
                <div class="circle-mask-inner">
                  <div class="circle-body"></div>
                </div>
              </div>
              <div class="chart-content">
                <p class="text">
                  <span class="percent-number" data-obj-id="{{obj_id}}">{{obj_progress}}</span>
                  <span class="percent-symbol" data-obj-id="{{obj_id}}">%</span>
                </p>
              </div>
            </div>
          </div>
          <div class="thumbs" data-obj-id="{{obj_id}}">
            <div class="like-icon" data-obj-id="{{obj_id}}">
              <a href="#" class="fa fa-thumbs-o-up" data-obj-id="{{obj_id}}"></a>
            </div>
            <div class="like-number" data-obj-id="{{obj_id}}">{{obj_like_number}}</div>
          </div>
          <div class="more-option" data-obj-id="{{obj_id}}">
            <a class="fa fa-ellipsis-h" data-obj-id="{{obj_id}}"></a>
            <div class="drop-down-obj" data-obj-id="{{obj_id}}">
              <ul class="obj-menu" data-obj-id="{{obj_id}}">
                <li class="obj-menu-li" data-obj-id="{{obj_id}}">
                  <a class="fa fa-pencil" data-obj-id="{{obj_id}}">
                    <span data-obj-id="{{obj_id}}"> 修改你的目標</span>
                  </a>
                </li>
                <li class="obj-menu-li" data-obj-id="{{obj_id}}">
                  <a class="fa fa-trash" data-obj-id="{{obj_id}}">
                    <span data-obj-id="{{obj_id}}"> 刪除你的目標</span>
                  </a>
                </li>
                <li class="obj-menu-li obj-history" data-obj-id="{{obj_id}}">
                  <a class="fa fa-eye" data-obj-id="{{obj_id}}">
                    <span data-obj-id="{{obj_id}}"> 檢視歷史紀錄</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="objective-content" data-obj-id="{{obj_id}}">
          <h1 data-obj-id="{{obj_id}}">{{obj_text}}
          </h1>
        </div>
      </div>
      <div class="row" data-obj-id="{{obj_id}}">
        <div class="card key-result" data-obj-id="{{obj_id}}">
          <div class="kr-upper" data-obj-id="{{obj_id}}">
            <div class="kr-title" data-obj-id="{{obj_id}}">
              <h4 data-obj-id="{{obj_id}}">關鍵成果 Key Results</h4>
            </div>
          </div>
          <div class="kr-content" data-obj-id="{{obj_id}}">
            {{#key_results}}
            <div class="kr" data-obj-id="{{../obj_id}}" data-kr-id="{{kr_id}}">
              <div class="kr-text" data-obj-id="{{../obj_id}}" data-kr-id="{{kr_id}}">{{kr_text}}</div>
              <div class="kr-progress" data-obj-id="{{../obj_id}}" data-kr-id="{{kr_id}}">
                <div class="progress" data-obj-id="{{../obj_id}}" data-kr-id="{{kr_id}}">
                  <div class="progress-bar bg-success" data-obj-id="{{../obj_id}}" data-kr-id="{{kr_id}}" role="progressbar" aria-valuenow="{{kr_now}}" aria-valuemin="0" aria-valuemax="{{kr_max}}" style="width: {{kr_progress}}%">
                    <label class="kr-progress-number" data-obj-id="{{../obj_id}}" data-kr-id="{{kr_id}}">{{kr_progress}}</label> %
                  </div>
                </div>
              </div>
              <div class="kr-options" data-obj-id="{{../obj_id}}" data-kr-id="{{kr_id}}">
                <div class="kr-number" data-obj-id="{{../obj_id}}" data-kr-id="{{kr_id}}">
                  <div class="base-number" data-obj-id="{{../obj_id}}" data-kr-id="{{kr_id}}">/ <span class="denominator" data-obj-id="{{../obj_id}}" data-kr-id="{{kr_id}}">{{kr_max}}</span></div>
                  <div class="input-number" data-obj-id="{{../obj_id}}" data-kr-id="{{kr_id}}">
                    <input class="numerator" data-obj-id="{{../obj_id}}" data-kr-id="{{kr_id}}" type="number" value="{{kr_now}}" min="0" max "{{kr_max}}" readonly>
                  </div>
                </div>
                <a class="fa fa-refresh" data-obj-id="{{../obj_id}}" data-kr-id="{{kr_id}}" aria-hidden="true"></a>
                <button type="button" class="kr-cancel" data-obj-id="{{../obj_id}}" data-kr-id="{{kr_id}}">
                  <i class="fa fa-times" aria-hidden="true" data-obj-id="{{../obj_id}}" data-kr-id="{{kr_id}}"></i>
                </button>
                <button type="button" class="kr-confirm" data-obj-id="{{../obj_id}}" data-kr-id="{{kr_id}}">
                  <i class="fa fa-check" aria-hidden="true" data-obj-id="{{../obj_id}}" data-kr-id="{{kr_id}}"></i>
                </button>
                <a href="#" class="fa fa-pencil kr-edit" data-obj-id="{{../obj_id}}" data-kr-id="{{kr_id}}"></a>
                <a href="#" class="fa fa-trash kr-delete" data-obj-id="{{../obj_id}}" data-kr-id="{{kr_id}}"></a>
              </div>
            </div>
            {{/key_results}}
            <div class="kr-add" data-obj-id="{{obj_id}}">
              <a class="kr-add-icon" data-obj-id="{{obj_id}}">+</a>
            </div>
          </div>
        </div>
        <div class="card comment" data-obj-id="{{obj_id}}">
          <div class="cmt-upper" data-obj-id="{{obj_id}}">
            <div class="comment-title" data-obj-id="{{obj_id}}">
              <h4 data-obj-id="{{obj_id}}">留言 Comments</h4>
            </div>
          </div>
          <div class="comment-content" data-obj-id="{{obj_id}}">
            {{#comments}}
            <div class="cmt" data-obj-id="{{obj_id}}" data-cmt_id="{{cmt_id}}" data-user-id="{{cmt_user_id}}">
              <div class="cmt-img" data-obj-id="{{obj_id}}" data-cmt_id="{{cmt_id}}" data-user-id="{{cmt_user_id}}">
                <img class="user-img" src="{{cmt_img}}" alt="{{cmt_name}}" data-obj-id="{{obj_id}}" data-cmt_id="{{cmt_id}}" data-user-id="{{cmt_user_id}}">
              </div>
              <div class="cmt-user" data-obj-id="{{obj_id}}" data-cmt_id="{{cmt_id}}" data-user-id="{{cmt_user_id}}">
                <a class="cmt-user-name" href="#" data-obj-id="{{obj_id}}" data-cmt_id="{{cmt_id}}" data-user-id="{{cmt_user_id}}">{{cmt_name}}</a>
                <p class="cmt-user-time" data-obj-id="{{obj_id}}" data-cmt_id="{{cmt_id}}" data-user-id="{{cmt_user_id}}">{{cmt_time}}</p>
              </div>
              <div class="cmt-text" data-obj-id="{{obj_id}}" data-cmt_id="{{cmt_id}}" data-user-id="{{cmt_user_id}}">
                <p data-obj-id="{{obj_id}}" data-cmt_id="{{cmt_id}}" data-user-id="{{cmt_user_id}}">{{cmt_text}}</p>
              </div>
              <div class="cmt-more" data-obj-id="{{obj_id}}" data-cmt_id="{{cmt_id}}" data-user-id="{{cmt_user_id}}">
                <a class="fa fa-ellipsis-h cmt-more-icon" data-obj-id="{{obj_id}}" data-cmt_id="{{cmt_id}}" data-user-id="{{cmt_user_id}}"></a>
                <div class="drop-down-cmt" data-obj-id="{{obj_id}}" data-cmt_id="{{cmt_id}}" data-user-id="{{cmt_user_id}}">
                  <ul class="cmt-menu" data-obj-id="{{obj_id}}" data-cmt_id="{{cmt_id}}" data-user-id="{{cmt_user_id}}">
                    <li class="cmt-menu-li" data-obj-id="{{obj_id}}" data-cmt_id="{{cmt_id}}" data-user-id="{{cmt_user_id}}">
                      <a class="fa fa-trash" data-obj-id="{{obj_id}}" data-cmt_id="{{cmt_id}}" data-user-id="{{cmt_user_id}}">
                        <span data-obj-id="{{obj_id}}" data-cmt_id="{{cmt_id}}" data-user-id="{{cmt_user_id}}"> 刪除留言</span>
                      </a>
                    </li>
                    <li class="cmt-menu-li" data-obj-id="{{obj_id}}" data-cmt_id="{{cmt_id}}" data-user-id="{{cmt_user_id}}">
                      <a class="fa fa-pencil" data-obj-id="{{obj_id}}" data-cmt_id="{{cmt_id}}" data-user-id="{{cmt_user_id}}">
                        <span data-obj-id="{{obj_id}}" data-cmt_id="{{cmt_id}}" data-user-id="{{cmt_user_id}}"> 編輯留言</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            {{/comments}}
            <div class="leave-cmt" data-obj-id="{{obj_id}}" data-cmt_id="">
              <div class="cmt-inputbox" data-obj-id="{{obj_id}}" data-cmt_id="">
                <input id="cmt-message" type="text" placeholder="  對此則OKR留言" data-obj-id="{{obj_id}}" data-cmt_id="">
              </div>
              <div class="cmt-send" data-obj-id="{{obj_id}}" data-cmt_id="">
                <a href="#" id="cmt-send" class="fa fa-paper-plane-o" aria-hidden="true" data-obj-id="{{obj_id}}" data-cmt_id=""></a>
              </div>
            </div>
          </div>
        </div>
        <div style="clear:both;"></div>
      </div>
      <div class="history-slide" data-obj-id="{{obj_id}}">
        <div class="hisBtn" data-obj-id="{{obj_id}}">
          <button type="button" name="button" class="historyBTN" data-obj-id="{{obj_id}}">
            <i class="fa fa-times" aria-hidden="true" data-obj-id="{{obj_id}}"></i>
          </button>
        </div>
        <div class="history-upper" data-obj-id="{{obj_id}}">
          <div class="history-title" data-obj-id="{{obj_id}}">
            <h1 data-obj-id="{{obj_id}}">歷史紀錄 Activity</h1>
          </div>
        </div>
        <div class="history-lower" data-obj-id="{{obj_id}}">
          <ul class="history-content" data-obj-id="{{obj_id}}">
            {{#activities}}
            <li class="history-li" data-history="{{@index}}" data-obj-id="{{obj_id}}" data-history-date="{{activity_date}}">
              <div class="history-date" data-history="{{@index}}" data-history-date="{{activity_date}}">
                <p data-history="{{@index}}" data-history-date="{{activity_date}}">{{activity_date}}</p>
              </div>
              <div class="history-graph" data-history="{{@index}}" data-history-date="{{activity_date}}">
                <div class="hollow-dot">
                </div>
                <div class="solid-dot">
                </div>
                <div class="line">
                </div>
              </div>
              <div class="history-user" data-history="{{@index}}" data-history-date="{{activity_date}}">
                <div class="history-img" data-history="{{@index}}" data-history-date="{{activity_date}}">
                  <img src="{{history-img}}" class="user-img" alt="img" data-user-id="">
                </div>
              </div>
              <div class="history-text" data-history="{{@index}}" data-history-date="{{activity_date}}">
                {{activity_text}}
                <br><span class="history-time" data-history="{{@index}}" data-history-date="{{activity_date}}">{{activity_date}}</span>
              </div>
            </li>
            {{/activities}}
          </ul>
        </div>
      </div>
    </div>
    {{/each}}
  </script>

  <!-- Bootstrap core JavaScript
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="/javascripts/profile/jquery.min.js"></script>
  <script src="/javascripts/profile/jquery.color.js"></script>
  <script src="/javascripts/profile/popper.min.js"></script>
  <script src="/javascripts/profile/bootstrap.min.js"></script>
  <script src="/javascripts/profile/holder.min.js"></script>
  <!-- <script src="../public/javascripts/profile/main.js"></script> -->
  <script src="/javascripts/profile/load.js"></script>
</body>

</html>
