<!DOCTYPE html>
<html lang="zh-tw">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="/stylesheets/common/favicon.ico">
  <title>WORKDONE</title>
  <link rel="stylesheet" href="/stylesheets/login/login.min.css">
  <link rel="stylesheet" href="/stylesheets/login/rwd.css">
</head>

<body>
  <div class="background-img"></div>
  <div class="login-part">
    <header class="top-logo">
      <img alt="WORKDONE Logo" src="https://storage.googleapis.com/okrs-sys-emp-img/designevo-transparent.png">
    </header>
    <section class="bottom-input">
      <div id="input_error">
        <p class="error-mes">錯誤的帳號或密碼！</p>
      </div>
      <div class="account">
        <input id="id_input" type="text" name="" value="" placeholder="信箱">
        <input id="pwd_input" type="password" name="" value="" placeholder="密碼">
      </div>
      <button id="login_btn" type="button" name="button">登入</button>
      <div class="logo-credit">Logo made with
        <a href="https://www.designevo.com/" title="Free Online Logo Maker">DesignEvo</a>
      </div>
      <!-- <div id="forgot_pwd">
        <a href="#"><p>忘記密碼？</p></a>
      </div> -->
    </section>
  </div>

  <script src="/javascripts/login/login.js"></script>
  <script src="/javascripts/common/jquery-3.2.1.js"></script>

</body>

</html>
