@import '../common/reset';
@import '../common/header';
@import '../profile/rwd';

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
}

section {
  // outline: 1px solid black;
  width: 75%;
  margin: 80px auto 0 auto;
  padding: 1%;

  .setting-block {
    // outline: 1px solid black;
    width: 100%;
    margin: 30px auto;
    padding: 20px 30px;
    background-color: #ffffff;

    .personal-title {
      // outline: 1px solid black;
      background-color: #fff;

      p {
        outline: 1px solid white;  // NO DELETING
        position: absolute;
        width: auto;
        padding: 0 10px 0 0;
        margin-left: 1px;
        margin-top: -7px;
        z-index: 1;

        font-size: 16px;
        font-weight: 600;
        font-family: "微軟正黑體";
        background-color: #fff;
      }

      hr {
        position: relative;
        margin-bottom: 30px;
        color: #d7dadb;
      }
    }

    .change-prof-block {
      // outline: 1px solid blue;
      padding: 0 3vw;

      #user_img {
        // outline: 1px solid red;
        display: inline-block;
        margin: 0 2vw 0 3vw;
        bottom: 0px;

        #img_circle {
          // outline: 1px solid black;
          display: inline-block;
          position: relative;
          color: black;
          width: 150px;
          height: 150px;

          border-radius: 50%;
          border: 1px solid #979797;
          overflow: hidden;

          .user-img {
            display: block;
            width: 100%;
            height: 100%;
            /* fill the container, preserving aspect ratio, and cropping to fit */
            background-size: cover;
            /* center the image vertically and horizontally */
            background-position: top center;
          }

          #loader_container {
            position: absolute;
            top: 10%;
            left: 10%;
            transform: translate(-50%, -50%);
            display: inline-block;
            border: 16px solid #d5d5d5;
            border-top: 16px solid #3498db;
            border-radius: 50%;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite; /* Safari */
            animation: spin 2s linear infinite;

            /* Safari */
            @-webkit-keyframes spin {
              0% { -webkit-transform: rotate(0deg); }
              100% { -webkit-transform: rotate(360deg); }
            }

            @keyframes spin {
              0% { transform: rotate(0deg); }
              100% { transform: rotate(360deg); }
            }
          }

        }

        // #change_profPic_btn {
        //   outline: 1px solid green;
        //   display: block;
        //   position: relative;
        //   top: 50%;
        //   transform: translateY(-50%);
        //   width: 150px;
        //   padding: 10px 0;
        //   text-align: center;
        //   background-color: rgba(0, 0, 0, 0.6);
        //   opacity: 0;
        //
        //   .fa {
        //     // outline: 1px solid purple;
        //     display: inline-block;
        //     color: #fff;
        //   }
        //
        //   strong {
        //     // outline: 1px solid pink;
        //     display: inline-block;
        //     font-size: 16px;
        //     font-weight: 600;
        //     font-family: "微軟正黑體";
        //     color: #fff;
        //   }
        // }
      }

      #change_profPic_btn {
        // outline: 1px solid black;
        display: inline-block;
        position: relative;
        bottom: 1vh;
        text-align: center;

        input {
          // outline: 1px solid black;
          display: inline-block;
          background-color: rgba(84, 200, 207, 0.5);
        }

        // #loader_container {
        //   display: inline-block;
        //   padding: 0 1vw;
        //
        //   .loader {
        //     // outline: 1px solid black;
        //     position: relative;
        //     display: inline-block;
        //     border: 3px solid #d5d5d5;
        //     border-top: 3px solid #3498db;
        //     border-radius: 50%;
        //     width: 20px;
        //     height: 20px;
        //     -webkit-animation: spin 2s linear infinite; /* Safari */
        //     animation: spin 2s linear infinite;
        //   }
        //
        //   /* Safari */
        //   @-webkit-keyframes spin {
        //     0% { -webkit-transform: rotate(0deg); }
        //     100% { -webkit-transform: rotate(360deg); }
        //   }
        //
        //   @keyframes spin {
        //     0% { transform: rotate(0deg); }
        //     100% { transform: rotate(360deg); }
        //   }
        // }

        button {
          // outline: 1px solid black;
          display: inline-block;
          padding: 3px 10px;
          margin-top: 1px;
          border-radius: 10px;
          // background-color: rgba(242, 140, 140, 1);
          background-color: #54c8cf;
          font-size: 14px;
          font-family: "微軟正黑體";
          color: #000000;
          text-shadow: 1px 1px rgba(151, 151, 151, 0.2);
          transition: 0.5s;

          &:hover {
            // color: #FFFFFF;
            // color: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#EEE));
            // color: -moz-linear-gradient(0% 90% 90deg, #EEE, #FFF);
            box-shadow: 1.5px 1.5px rgba(0, 0, 0, 0.3);
          }
        }
      }
    }


    .privacy-title {
      // outline: 1px solid black;
      background-color: #fff;

      .title {
        outline: 1px solid white;  // NO DELETING
        position: absolute;
        width: auto;
        padding: 0 10px 0 0;
        margin-left: 1px;
        margin-top: -7px;
        z-index: 1;

        font-size: 16px;
        font-weight: 600;
        font-family: "微軟正黑體";
        background-color: #fff;
      }

      hr {
        position: relative;
        margin: 40px 0 30px 0;
        color: #d7dadb;
      }
    }

    .change-pwd-block {
      // outline: 1px solid black;
      // position: absolute;
      // top: 50%;
      // left: 50%;
      // transform: translate(-50%, -50%);
      padding: 0 3vw;

      .old-pwd,
      .new-pwd,
      .confirm-pwd {
        // outline: 1px solid black;
        padding: 10px 3vw;

        .input {
          display: inline-block;
          // margin: 30px 1vw 0 3vw;
          font-size: 16px;
        }

        input {
          display: inline-block;
          width: 15vw;
          padding: 3px 0;
          margin: 0 0 0 1vw;
          border-radius: 5px;
          font-size: 14px;
        }

        .fa {
          display: inline-block;
          margin: 0.5vw;
        }

        .error-mes-block {
          // outline: 1px solid black;
          display: inline-block;

          .dialog-triangle {
            // outline: 1px solid black;
            position: absolute;
            display: inline-block;
            margin-top: 3px;

            border-color: transparent rgba(208, 1, 27, 0.3) transparent transparent;
            border-style: solid solid solid solid;

            /* 設定邊框（上、下；左、右）大小相同的數值，可拼湊出任意形狀的三角形 */
            border-width: 10px 7px 10px 7px;

            /* 設定 width、height 可更好理解原理 */
            height: 0px;
            width: 0px;
          }

          .error-mes {
            // outline: 1px solid black;
            display: inline-block;
            position: relative;
            padding: 5px 1vw;
            margin-left: 14px;

            border-radius: 5px;
            font-family: "微軟正黑體";
            font-size: 16px;
            font-weight: 600;
            text-align: center;

            color: #d0011b;
            border-color: rgba(208, 1, 27, 0.3);
            background-color: rgba(208, 1, 27, 0.3);
          }
        }
      }

      .btns {
        // outline: 1px solid black;
        width: 25vw;
        height: 30px;
        padding: 0 0 0 2vw;

        .error-mes {
          outline: 1px solid black;
          display: inline-block;
          float: right;
          padding: 5px 1vw;
          margin: 0 0.5vw;

          border-radius: 5px;
          font-family: "微軟正黑體";
          font-size: 16px;
          font-weight: 600;
          text-align: center;

          color: #d0011b;
          border-color: rgba(208, 1, 27, 0.3);
          background-color: rgba(208, 1, 27, 0.3);
        }

        #cancel_btn {
          // outline: 1px solid black;
          float: left;
          margin: 0 0.5vw;
          padding: 3px 10px;
          border-radius: 10px;
          font-size: 14px;
          font-weight: 500;
          color: #000;
          font-family: "微軟正黑體";
          background-color: #d5d5d5;
        }

        #confirm_btn {
          // outline: 1px solid black;
          float: left;
          margin: 0 0.5vw;
          padding: 3px 10px;
          border-radius: 10px;
          font-size: 14px;
          font-weight: 500;
          color: #000;
          font-family: "微軟正黑體";
          background-color: #54c8cf;
        }
      }
    }
  }

  // #wrong_mes {
  //   display: none;
  // }
  // #incomplete_old {
  //   display: none;
  // }
  // #incomplete_new {
  //   display: none;
  // }
  // #dismatch_mes {
  //   display: none;
  // }
  // #incomplete_confirm {
  //   display: none;
  // }
  // #success_mes {
  //   display: none;
  // }
  // #incomplete_mes {
  //   display: none;
  // }
}

input:active,
input:focus,
textarea:focus,
button {
  outline: none;
}
