@import '../common/reset';
@import '../common/header';
@import '../profile/rwd';


*,
*:after,
*:before {
  box-sizing: border-box;
}


body {
  background-color: #f2f2f2;
}


section {
  // outline: 1px solid black;
  width: 75%;  // 設計圖 980px --> 70%
  min-height: 100vw;  // 長度隨內容變動
  background-color: #ffffff;
  margin: 60px auto 0 auto;
  padding: 3%;  // 設計圖 50px --> 3%

  ul, li {
	  margin: 0;
	  padding: 0;
	  list-style: none;

    // outline: 1px solid black;
    margin-left: 10px;
    padding: 10px;
    float: right;
    display: inline-block;

    a {
      // outline: 1px solid green;
      font-family: "微軟正黑體";
      font-size: 14px;
      font-weight: 600;
      color: #000000;
      text-align: center;
      text-decoration: none;
    }

  }

  .tab-container {
    margin-top: 70px;
  }

  .block-name {
    // outline: 1px solid red;
    margin-top: 7%;  //設計圖 55px

    p {
      outline: 1px solid white;  // NO DELETING!!!
      position: absolute;
      width: auto;
      padding: 0 20px;
      margin-left: 1px;
      margin-top: -7px;
      background-color: #ffffff;

      font-family: "微軟正黑體";
      font-size: 16px;
      font-weight: 600;
      color: #000000;
    }

  }

  .people-block {
    outline: 1px solid black;  // NO DELETING!!!
    width: 100%;
    // min-height: 100%;
    padding: 30px;  // 設計圖約 35px --> 3.5%

    .empty-mes {
      // outline: 1px solid black;
      text-align: center;

      span {
        font-size: 20px;
        font-family: "微軟正黑體";
        font-weight: 600;
        color: #979797;
      }
    }

    a {
      text-decoration: none;

      .person {
        display: inline-block;
        width: 140px;
        // width: 130px;  // 設計圖約 140px --> 17%
        // width: fit-content;
        height: 165px;
        // height: 155px;
        border: 1px solid #979797;
        border-radius: 5px;
        margin: 1.1%;

        transition: 0.5s;

        &:hover {
          box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

        .progress-triangle {
          // outline: 1px solid black;
          border-color: transparent #4bb4ba #4bb4ba transparent;
          border-style: solid solid solid solid;

          /* 設定邊框（上、下；左、右）大小相同的數值，可拼湊出任意形狀的三角形 */
          border-width: 2px;

          /* 設定 width、height 可更好理解原理 */
          height: 0px;
          width: 0px;

          margin-top: 10px;
          transform: translate(-5px, 0);
        }

        .progress-num {
          // outline: 1px solid black;
          display: inline-block;
          width: 60px;
          height: 20px;
          background-image: radial-gradient(circle at 50% 50%, #55c8cf, #8ce8c2);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
          border-radius: 1px;
          color: #ffffff;
          font-family: "微軟正黑體";
          font-size: 12px;
          font-weight: 600;
          text-align: center;
          padding: 4px 0;
          transform: translate(-5px, 0);
        }  // .progress-num end

        .progress-circle {
          // outline: 1px solid red;
          padding: 0 30px;
          margin: 7px 0;
        }

        .chart {
          // outline: 1px solid blue;
          width: 76px;
          height: 76px;
          position: relative;
          border-radius: 50%;
          box-shadow: 0 0.8px 0.8px 0.2px rgba(151, 151, 151, 1);

          //mask
          .mask-inner {
            // outline: 1px solid red;
            // display: inline-block;
            overflow: hidden;
            position: absolute;
            width: 38px;
            height: 76px;
          }

          .mask-outer {
            // outline: 1px solid pink;
            // display: inline-block;
            overflow: hidden;
            position: absolute;
            width: 38px;
            height: 76px;
          }

          //left outer side mask
          .mask-outer.left {
            left: 0;
          }

          //right outer side mask
          .mask-outer.right {
            right: 0;
          }

          //inner mask
          .mask-inner {
            -webkit-transform: rotate(0);
            -ms-transform: rotate(0);
            transform: rotate(0);
          }

          //left inner mask
          .mask-outer.left .mask-inner {
            left: 100%;
            -webkit-transform-origin: 0 50%;
            -ms-transform-origin: 0 50%;
            transform-origin: 0 50%;
          }

          //right inner mask
          .mask-outer.right .mask-inner {
            right: 100%;
            -webkit-transform-origin: 100% 50%;
            -ms-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
          }

          .body {
            // outline: 1px solid black;
            z-index: 5;
            border-radius: 50%;
            position: absolute;
            width: 76px;
            height: 76px;
            border: 7px solid #69bf3e;
            // box-shadow: 0 0.8px 0.8px 0 rgba(80, 80, 80, 1);
          }

          .mask-outer.left .body {
            right: 0;
          }

          .mask-outer.right .body {
            left: 0;
          }

          // .user-pic {
          //   border: 1px solid #979797;
          //   display: inline-block;
          //   width: 62.5px;
          //   height: 62.5px;
          //   border-radius: 50%;
          //
          //   background-repeat: no-repeat;
          //   background-position: center center;
          //   background-size: cover;
          //
          //   margin: 7px;
          // }
          //
          // .one {
          //   background-image: url('https://upload.wikimedia.org/wikipedia/en/thumb/d/db/Woodstock.png/220px-Woodstock.png');
          // }

          .img-circle {
            // outline: 1px solid black;
            color: black;
            width: 62.5px;
            height: 62.5px;
            display: inline-block;
            margin: 7px;

            border-radius: 50%;
            // border: 1px solid #979797;
            overflow: hidden;

            #user_img {
              display: block;
              // margin: 0 auto;
              width: 100%;
              // height: auto;
              // background-color: black;
            }
          }

        }


        .user-name {
          // outline: 1px solid blue;
          font-size: 14px;
          font-weight: 600;
          font-family: "微軟正黑體";
          color: black;
          text-align: center;
          margin-top: 5px;
        }


        .user-job {
          // outline: 1px solid red;
          font-size: 9px;
          font-weight: 300;
          font-family: "微軟正黑體";
          color: #8a8888;
          text-align: center;
          margin-top: 3px;
        }


      }  // .person end
    }  // .a end
  }  // .people-block end

  .load-more-btn {
    // outline: 1px solid purple;
    margin: 25px auto;
    text-align: center;

    #load_more_btn {
      width: auto;
      height: 45px;
      padding: 10px 40px;
      border-radius: 10px;
      text-align: center;
      background-color: #fc4349;
      box-shadow: 1px 4px 4px 0 rgba(0, 0, 0, 0.5);
      font-family: "微軟正黑體";
      font-size: 16px;
      font-weight: 600;
      color: #ffffff;
    }
  }
}


input:active,
input:focus,
textarea:focus,
button {
  outline: none;
}
